/* transactions */
.container {
  max-width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.transaction {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  margin: 10px 0;
  border-left: 4px solid #271f97;
  border-bottom: 1px solid #271f97;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  position: relative;
}

.transaction button {
  position: absolute;
  top: 0;
  right: 5px;
  background-color: rgb(196, 196, 196);
  padding: 5px 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.transaction button:hover {
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.transaction p:last-child {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 40px;
}
