/* transactions */
.container {
  max-width: 80%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.transaction {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px;
  margin: 10px 0;
  border-left: 4px solid #271f97;
  border-top: 2px solid #271f97;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.transaction p {
  font-size: 1.1em;
}

/* add transaction form */

.transaction-form {
  background-color: #271f97;
  color: #fff;
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
}

.transaction-form span {
  display: block;
  margin: 10px 0;
}

.transaction-form input {
  padding: 10px 5px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1em;
}

.transaction-form button {
  display: block;
  width: 100%;
  margin-top: 20px;
  padding: 10px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #271f97;
  color: #fff;
  font-size: 1em;
}

.transaction-form button:hover {
  background-color: #fff;
  color: #271f97;
}
